.no-wrap {
    white-space: nowrap;
}
.custom-font-size thead, tr {
    font-size: 10px !important; /* Cambia este valor al tamaño de fuente deseado */
}
#table_dps.custom-font-size,
#table_dps.custom-font-size tbody,
#table_dps.custom-font-size tbody tr td {
    font-size: 10px !important;
}
#table_dps.custom-font-size,
#table_dps.custom-font-size thead,
#table_dps.custom-font-size thead th {
    font-size: 10px !important;
}

#table_etys.custom-font-size,
#table_etys.custom-font-size tbody,
#table_etys.custom-font-size tbody tr td {
    font-size: 10px !important;
}
#table_etys.custom-font-size,
#table_etys.custom-font-size thead,
#table_etys.custom-font-size thead th {
    font-size: 10px !important;
}

.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.form-control-sm {
    height: 2.1em;
}

.custom-minor-row {
    margin-bottom: 1px; /* Espacio entre filas */
}
.card-header-blue {
    background-color: #20b2aa6e;
}
.card-header-yellow {
    background-color: #f3f17b6e;
}
.header-selected {
    background-color: #1e9b9562;
}
.header-low-cost {
    background-color: aquamarine;
}
.header-high-cost {
    background-color: crimson;
}
.header-sheet {
    background-color: darkgray;
}
.pdf-viewer {
    width: 100%; /* Ajusta al ancho completo del contenedor */
    height: 80vh; /* Altura relativa al tamaño de la ventana */
    border: none; /* Sin borde */
}

.with-border {
    border: 2px solid #0c0101;
    border-radius: 10px;
}

.card-notes {
    font-size: 0.875rem;
    margin-bottom: .5rem;
    line-height: 1.3rem;
    color: #0c0101;
    font-style: italic;
}

#modelId {
    width: 100%;
    height: calc(100vh - 0px); /* Personalizar 0px */
    border: none;
} 
.modal-custom {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
}